<a href="https://colab.research.google.com/github/nehaantony2000/DATA-SCIENCE-LAB/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 

import numpy as np
arr=np.array([10,15,18,22]) 
s = pd.Series(arr) 
print(s)

0    10
1    15
2    18
3    22
dtype: int64

In [ ]:
import pandas as pd

import numpy as np
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,
index=['first','second','third','fourth'])
print(s)

first     a
second    b
third     c
fourth    d
dtype: object

In [ ]:
import pandas as pd
s=pd.Series(50,index=[0,1,2,3,4])
print(s)

0    50
1    50
2    50
3    50
4    50
dtype: int64

In [ ]:
import pandas as pd
d={'Name':'Harthik','IPLteam':'MI','Runs':4000}
s= pd.Series(d)
print(s)

Name       Harthik
IPLteam         MI
Runs          4000
dtype: object

In [ ]:
import pandas as pd
s=pd.Series([1,2,3,4,5])
print("To multiply all the numbers with 2")
print("___________________________________________________")
print(s*2)
print("___________________________________________________")
print("To find the square of allnumbers ")
print("___________________________________________________")
print(s**2)
print("___________________________________________________")
print("To print all the values greater than 2")
print("___________________________________________________")
print(s[s>2])
print("___________________________________________________")

To multiply all the numbers with 2
___________________________________________________
0     2
1     4
2     6
3     8
4    10
dtype: int64
___________________________________________________
To find the square of allnumbers
___________________________________________________
0     1
1     4
2     9
3    16
4    25
dtype: int64
___________________________________________________
To print all the values greater than 2
___________________________________________________
2    3
3    4
4    5
dtype: int64
___________________________________________________

In [ ]:
import pandas as pd
s1=pd.Series([10,20,30,40,50],index =['a','b','c','d','e'])
s2=pd.Series([15,25,35,45,55],index =['a','b','c','d','e'])
s3=pd.Series([5,6,7,8],index =['a','b','c','d'])
print("Add series 1 and series 2")
print("___________________________________________________")
print(s1+s2)
print("___________________________________________________")
print("Add series 2 and series 3")
print("___________________________________________________")
print(s2+s3)
print("___________________________________________________")
print('To Add Series2&series3 and Filled Non Matching Index with0')
print('.. ---')
print(s2.add(s3,fill_value=0))

Add series 1 and series 2
___________________________________________________
a     25
b     45
c     65
d     85
e    105
dtype: int64
___________________________________________________
Add series 2 and series 3
___________________________________________________
a    20.0
b    31.0
c    42.0
d    53.0
e     NaN
dtype: float64
___________________________________________________
To Add Series2&series3 and Filled Non Matching Index with0
.. ---
a    20.0
b    31.0
c    42.0
d    53.0
e    55.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77,42,48,97])
#createaseries from array
s=pd.Series(arr)
#to print fiest5rows
print(s.head())
#To print first3rows
print(s.head(3))

0    10
1    15
2    18
3    22
4    55
dtype: int64
0    10
1    15
2    18
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77,42,48,97])
#createaseries from array
S=s=pd.Series(arr)
#to print Last5rows
print(s.tail())
#To print Last4rows
print(s.tail(4))

4    55
5    77
6    42
7    48
8    97
dtype: int64
5    77
6    42
7    48
8    97
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)
print(s.loc[:2])
print(s.loc[3:4])
s.loc[2:3]

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64
0    10
1    15
2    18
dtype: int64
3    22
4    55
dtype: int64

2    18
3    22
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)
print(s.iloc[:2])
print(s.iloc[3:4])
s.iloc[2:3]

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64
0    10
1    15
dtype: int64
3    22
dtype: int64

2    18
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)
print(s[1])
print('\n')
print(s[3:4])
s[:21]

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64
15


3    22
dtype: int64

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array(['a','b','c','d'],)
s=pd.Series(arr,index=['first','second','third','fourth'])
print(s)
#To print only indexes in series
print('\nindexes in Series are :::')
print(s.index)

first     a
second    b
third     c
fourth    d
dtype: object

indexes in Series are :::
Index(['first', 'second', 'third', 'fourth'], dtype='object')

In [ ]:
import pandas as pd
import numpy as np
arr= np.array([10,15,18,22,55,77])
s=pd.Series(arr,index=['A','B','C','D','E','F'])
print(s)
print(s[1:5:2])
print(s[0:6:2])

A    10
B    15
C    18
D    22
E    55
F    77
dtype: int64
B    15
D    22
dtype: int64
A    10
C    18
E    55
dtype: int64

In [ ]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
name=pd.Series(['Hardik','Virat'])
team=pd.Series(['MI','RCB'])
dic={'Name':name,'Team':team}
df=pd.DataFrame(dic)
print(df)

     Name Team
0  Hardik   MI
1   Virat  RCB

In [ ]:
import pandas as pd
I=[{'Name':'Sachin','SirName':'Bhardwaj'},{'Name':'Vinod','SirName':'Verma'},{'Name':'Rajesh','SirName':'Mishra'}]
df1=pd.DataFrame(I)
print(df1)

     Name   SirName
0  Sachin  Bhardwaj
1   Vinod     Verma
2  Rajesh    Mishra

In [ ]:
import pandas as pd
l=[{'Name':'Sachin','SirName':'Bhardwaj'},{'Name':'Vinod','SirName':'Verma'}]
df1=pd.DataFrame(l)
print(df1)
for(row_index,row_value)in df1.iterrows():
    print('\nRow index is ::',row_index)
    print('Row Value is::')
    print(row_value)

     Name   SirName
0  Sachin  Bhardwaj
1   Vinod     Verma

Row index is :: 0
Row Value is::
Name         Sachin
SirName    Bhardwaj
Name: 0, dtype: object

Row index is :: 1
Row Value is::
Name       Vinod
SirName    Verma
Name: 1, dtype: object

In [ ]:
import pandas as pd
l=[{'Name':'Sachin','SirName':'Bhardwaj'}, {'Name':'Vinod','SirName':'Verma'}]
df1=pd.DataFrame(l)
print(df1)
for(col_name,col_value)in df1.iteritems():
    print('\n')
    print('Column Name is ::',col_name)
    print('Column Values are::')
    print(col_value)

     Name   SirName
0  Sachin  Bhardwaj
1   Vinod     Verma


Column Name is :: Name
Column Values are::
0    Sachin
1     Vinod
Name: Name, dtype: object


Column Name is :: SirName
Column Values are::
0    Bhardwaj
1       Verma
Name: SirName, dtype: object

In [ ]:
import pandas as pd
empdata= {'empid':[101,102,103,104,105,106],'ename':['Sachin','Vinod','Lakhbir','Anil','Devinder','UmaSelvi'],
          'Doj':['12 -01-2012','15 -01-2012','05 -09-2007','17 -01- 2012','05 -09-2007','16 -01-2012']}
df=pd.DataFrame(empdata)
print(df)

   empid     ename           Doj
0    101    Sachin   12 -01-2012
1    102     Vinod   15 -01-2012
2    103   Lakhbir   05 -09-2007
3    104      Anil  17 -01- 2012
4    105  Devinder   05 -09-2007
5    106  UmaSelvi   16 -01-2012

In [ ]:
import pandas as pd
s=pd.Series([10,15,18,22])
df=pd.DataFrame(s)
df.columns=['List1']                  
df['List2']=20                 
df['List3']=df['List1']+df['List2']
print(df)

   List1  List2  List3
0     10     20     30
1     15     20     35
2     18     20     38
3     22     20     42

In [ ]:
import pandas as pd
s=pd.Series([10,20,30,40])
df=pd.DataFrame(s)
df.columns=['List1']
df['List2']=40
df1=df.drop('List2',axis=1)
df2=df.drop(index=[2,3],axis=0)                        
print(df)
print("After deletion ::")
print(df1)

   List1  List2
0     10     40
1     20     40
2     30     40
3     40     40
After deletion ::
   List1
0     10
1     20
2     30
3     40

In [ ]:
import pandas as pd
Runs={'TCS':{'Qtrl':2500,'Qtr2':2000,'Qtr3':3000,'Qtr4':2000}, 'WIPRO':{'Qtr1':2800,'Qtr2':2400,'Qtr3':3600,'Qtr4':2400}, 'L&T':{'Qtr1':2100,'Qtr2':5700,'Qtr3':35000,'Qtr4':2100}}
df=pd.DataFrame(Runs)
print(df)
print(df.loc[:,'TCS'])
print(df.loc[:,'TCS':'WIPRO'])

         TCS   WIPRO      L&T
Qtrl  2500.0     NaN      NaN
Qtr2  2000.0  2400.0   5700.0
Qtr3  3000.0  3600.0  35000.0
Qtr4  2000.0  2400.0   2100.0
Qtr1     NaN  2800.0   2100.0
Qtrl    2500.0
Qtr2    2000.0
Qtr3    3000.0
Qtr4    2000.0
Qtr1       NaN
Name: TCS, dtype: float64
         TCS   WIPRO
Qtrl  2500.0     NaN
Qtr2  2000.0  2400.0
Qtr3  3000.0  3600.0
Qtr4  2000.0  2400.0
Qtr1     NaN  2800.0

In [ ]:
import pandas as pd
empdata={'empid':[101,102,103,104,105,106],'ename':['Sachin','Vinod','Lakhbir','Anil','Devinder','UmaSelvi'],'Doj':['12 -01-2012','15 -01-2012','05 -09-2007','17 -01- 2012','05 -09-2007','16 -01-2012']}
                               
df=pd.DataFrame(empdata)
print(df)
print(df.loc[0])
df.loc[0:2]

   empid     ename           Doj
0    101    Sachin   12 -01-2012
1    102     Vinod   15 -01-2012
2    103   Lakhbir   05 -09-2007
3    104      Anil  17 -01- 2012
4    105  Devinder   05 -09-2007
5    106  UmaSelvi   16 -01-2012
empid            101
ename         Sachin
Doj      12 -01-2012
Name: 0, dtype: object

   empid    ename          Doj
0    101   Sachin  12 -01-2012
1    102    Vinod  15 -01-2012
2    103  Lakhbir  05 -09-2007

In [ ]:
import pandas as pd
empdata={'empid':[101,102,103,104,105,106],'ename':['Sachin','Vinod','Lakhbir','Anil','Devinder','UmaSelvi'],'Doj':['12 -01-2012','15 -01-2012','05 -09-2007','17 -01- 2012','05 -09-2007','16 -01-2012']}                               
df=pd.DataFrame(empdata)
print(df)
print(df.loc[0])
df.loc[0:2]

   empid     ename           Doj
0    101    Sachin   12 -01-2012
1    102     Vinod   15 -01-2012
2    103   Lakhbir   05 -09-2007
3    104      Anil  17 -01- 2012
4    105  Devinder   05 -09-2007
5    106  UmaSelvi   16 -01-2012
empid            101
ename         Sachin
Doj      12 -01-2012
Name: 0, dtype: object

   empid    ename          Doj
0    101   Sachin  12 -01-2012
1    102    Vinod  15 -01-2012
2    103  Lakhbir  05 -09-2007

In [ ]:
import pandas as pd
empdata={ 'Doj':['12-01-2012','15-01-2012','05-09-2007','17-01-2012','05-09-2007','16-01-2012'],'empid':[101,102,103,104,105,106],'ename':['Sachin','Vinod','Lakhbir','Anil','Devinder','UmaSelvi']}

df=pd.DataFrame(empdata)
print(df)
print(df.head())
print(df.tail())

          Doj  empid     ename
0  12-01-2012    101    Sachin
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
5  16-01-2012    106  UmaSelvi
          Doj  empid     ename
0  12-01-2012    101    Sachin
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
          Doj  empid     ename
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
5  16-01-2012    106  UmaSelvi

In [ ]:
import pandas as pd
empdata={ 'Doj':['12-01-2012','15-01-2012','05-09-2007','17-01-2012','05-09-2007','16-01-2012'],'empid':[101,102,103,104,105,106],'ename':['Sachin','Vinod','Lakhbir','Anil','Devinder','UmaSelvi']}
df=pd.DataFrame(empdata)
print(df)
print(df.head(2))
print(df.tail(2))
print(df[2:5])

          Doj  empid     ename
0  12-01-2012    101    Sachin
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
5  16-01-2012    106  UmaSelvi
          Doj  empid   ename
0  12-01-2012    101  Sachin
1  15-01-2012    102   Vinod
          Doj  empid     ename
4  05-09-2007    105  Devinder
5  16-01-2012    106  UmaSelvi
          Doj  empid     ename
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder